body{
    background-color: #24353f;
    color: #fff;
}

.box,
.navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box form p button:hover{
    text-decoration: underline !important;
}

.reg,
.sign,
.logout{
    background-color: transparent;
}